VITE_SUPABASE_URL=https://jjweecnloyfkyhljqycr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impqd2VlY25sb3lma3lobGpxeWNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3MzEyNzMsImV4cCI6MjA3NDMwNzI3M30.YsJvimjBc3OZrx5w88eXhBBVBMcd0AmmTxZpBBX9tTQ
VITE_SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impqd2VlY25sb3lma3lobGpxeWNyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODczMTI3MywiZXhwIjoyMDc0MzA3MjczfQ.3PMkn4IV2wkUfNHnlopzeGQPuF7vzkU9Ww35vNNnaDU